absl-py==2.1.0
amqp==5.2.0
APScheduler==3.10.4
asgiref==3.8.1
astunparse==1.6.3
bcrypt==4.1.3
billiard==4.2.0
blinker==1.8.2
celery==5.4.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
diff-match-patch==20241021
Django==5.1.1
django-ckeditor==6.7.2
django-import-export==4.3.3
django-js-asset==3.0.1
django-widget-tweaks==1.5.0
dnspython==2.6.1
email_validator==2.1.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-DebugToolbar==0.15.1
Flask-Mail==0.10.0
Flask-MySQLdb==2.0.0
Flask-Reuploaded==1.4.0
Flask-SQLAlchemy==3.1.1
Flask-Uploads==0.2.1
Flask-WTF==1.2.1
flatbuffers==24.12.23
gast==0.6.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.69.0
h5py==3.12.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
keras==3.7.0
kombu==5.3.7
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.1
mysql-connector-python==8.4.0
mysqlclient==2.2.4
namex==0.0.8
numpy==2.0.2
opt_einsum==3.4.0
optree==0.13.1
packaging==24.0
pandas==2.2.3
pillow==11.0.0
prompt_toolkit==3.0.47
protobuf==5.29.2
pygame==2.5.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.6
requests==2.32.3
rich==13.9.4
scrypt==0.8.24
setuptools==75.7.0
six==1.16.0
SQLAlchemy==2.0.30
sqlparse==0.5.1
tablib==3.7.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.3
wheel==0.45.1
wrapt==1.17.0
WTForms==3.1.2
