{% extends 'app/base.html' %}
{% block content %}
    <div class="alert-detail-container">
        <div class="alert-detail-header">
            <h2 class="alert-detail-title">{{ alert.title }}</h2>
        </div>
        <div class="alert-detail-content">

            <div class="left-column">
                {% if alert.alert_image %}
                <div class="alert-detail-image-container">
                    <img src="{{ alert.alert_image.url }}" alt="{{ alert.title }}" class="alert-detail-image">
                </div>
                {% endif %}
            </div>
            <div class="right-column">
                <div class="alert-detail-actions">
                         {% if user.is_authenticated %}
                            {% if user.role == 'LGU Member' %}
                             <a href="{% url 'alert_update' alert.pk %}" class="alert-update-link">Update Alert</a>
                             <a href="{% url 'alert_delete' alert.pk %}" class="alert-delete-link">Delete Alert</a>
                            {% endif %}
                         {% endif %}
                    <a href="{% url 'alert_list' %}" class="alert-back-link">Back to Alerts</a>
                </div>
                <div class="alert-detail-info">
                <p class="alert-detail-message">
                    <strong>Message:</strong> {{ alert.message }}
                </p>
                <p class="alert-detail-meta">
                    <strong>Issued by:</strong> {{ alert.issued_by.username }}
                </p>
                <p class="alert-detail-meta">
                    <strong>Created At:</strong> {{ alert.created_at }}
                </p>
                <p class="alert-detail-meta">
                    <strong>Valid Until:</strong> {{ alert.valid_until }}
                </p>

                </div>
            </div>


        </div>
    </div>
{% endblock content %}
