{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <div class="alert-list-container">
        <h2 class="alert-list-title">Alert List</h2>

        {% if user.is_authenticated %}
            {% if user.role == 'LGU Member' %}
               <a href="{% url 'alert_create' %}" class="alert-create-link">Create New Alert</a>
            {% endif %}
        {% endif %}

        <ul class="alert-list">
            {% for alert in alerts %}
                <li class="alert-item">
                    <a href="{{ alert.get_absolute_url }}" class="alert-link">
                        <div class="alert-item-content">
                            {% if alert.alert_image %}
                                <div class="alert-image-container">
                                    <img src="{{ alert.alert_image.url }}" alt="{{ alert.title }}" class="alert-image">
                                </div>
                            {% endif %}
                            <div class="alert-details">
                                <h3 class="alert-title">{{ alert.title }}</h3>
                                <p class="alert-message">
                                    {{ alert.message|truncatechars:50 }}
                                </p>
                                <p class="alert-meta">
                                    <strong>Issued by:</strong> {{ alert.issued_by.username }}<br>
                                    <strong>Valid until:</strong> {{ alert.valid_until }}
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
