{% extends 'app/base.html' %}
{% block content %}
 <div class="delete-post-container">
        <h2 class="delete-post-title">Are you sure you want to delete the post "{{ alert.title }}"?</h2>

        <form method="post" class="delete-post-form">
            {% csrf_token %}
            <div class="action-buttons">
                <button type="submit" class="confirm-delete-button">Confirm Delete</button>
                <a href="{% url 'alert_list' %}" class="cancel-delete-link">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
