{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <div class="category-detail">
        <h2>{{ category.name }}</h2>
        <p class="category-description">{{ category.description }}</p>

        <h3>Posts under this Category:</h3>
        <ul class="posts-list">
            {% for post in posts %}
                <li>
                    {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" alt="{{ post.title }}" class="post-image">
                    {% endif %}
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% empty %}
                <li class="empty-state">No posts available in this category yet.</li>
            {% endfor %}
        </ul>
        <div class="action-buttons">
                 {% if user.is_authenticated %}
                    {% if user.role == 'LGU Member' %}
                      <a href="{% url 'category_update' category.pk %}">Edit</a>
                        <a href="{% url 'category_delete' category.pk %}">Delete</a>
                    {% endif %}
                 {% endif %}
            <a href="{% url 'category_list' %}">Back to Categories</a>
        </div>
    </div>
{% endblock content %}
