{% extends 'app/base.html' %}
{% block content %}
    <h2>Category List</h2>

    <!-- Show link only if the user is an admin -->
    {% if request.user.is_staff %}
        <center><a href="{% url 'category_create' %}" class="create-category-link">Create New Category</a></center>
    {% endif %}

    <div class="category-gallery">
        {% for category in categories %}
            <div class="category-card">
                <div class="category-image">
                    {% if category.category_image %}
                    <a href="{{ category.get_absolute_url }}">
                         <img src="{{ category.category_image.url }}" alt="{{ category.name }} Image" class="category-img">
                    </a>
                    {% else %}
                        <div class="no-image">No image available</div>
                    {% endif %}
                </div>
                <div class="category-info">
                    <a href="{{ category.get_absolute_url }}" class="category-link">{{ category.name }}</a>
                    <p class="category-description">{{ category.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
